<%- partial('_partial/head') %>
<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <% if(page.layout == 'resume') {%>
          <%- body %>
  	<% }else if(page.layout == 'gallery'){ %>
          <div id="content" class="inner">
            <%- body %>
          <div class="clearfix"></div>
      </div>
      <% } else {%>
      <div id="content" class="inner">
  		<div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
  		<div id="widget" class="alignright"><%- partial('_partial/widget') %></div>
           <div class="clearfix"></div>
      </div>

    <% if(theme.sidebar.display != 'resume') {%>
          <%- partial('_partial/sidebar') %>
    <% } %>
      
  	<% } %>
   <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>